{% extends 'layout.twig' %}

{% block page_content %}
    <nav-bar params="route: route"></nav-bar>
    <div id="page" class="container" data-bind="component: { name: route().component, params: route }"></div>
{% endblock %}