<!DOCTYPE html>
<html>
    <head>
        <title>{% block page_title %}Test Title{% endblock %}</title>
    </head>
    <body>
        <header>
            <menu></menu>
        </header>
        <content>{% block page_content %}{% endblock %}</content>
        <footer></footer>
    </body>
</html>
