<?xml version="1.0" encoding="UTF-8" ?>
<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <parameters>
        <parameter key="version">Awesome Site Title</parameter>
        <parameter key="stability">dev</parameter>
        <parameter key="modules" type="collection" />
    </parameters>

    <services>
        <service id="command.new" class="Oz\NoDynamic\Console\Command\NewCommand">
            <tag name="cli.command" />
        </service>
    </services>
</container>
