<?xml version="1.0" encoding="UTF-8" ?>
<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <parameters>
        <parameter key="test.service.class">\Oz\WhiteHowk\Kernel\ContainerProviderTestService</parameter>
        <parameter key="kernel.app_kernel.class">\Oz\WhiteHowk\Kernel\AppKernel</parameter>
        <!--
        Here place for modules registration
        Add modules namespaces
        -->
        <parameter key="app.modules" type="collection">
            <parameter>\Oz\WhiteHowk\Module\Page</parameter>
            <parameter>\Oz\WhiteHowk\Module\Twig</parameter>
        </parameter>
    </parameters>
    <services>

        <service id="test.service1" class="%test.service.class%">
            <file>test\Oz\WhiteHowk\Kernel\ContainerProviderTestService.php</file>
        </service>

        <service id="test.event_listener" class="\Oz\WhiteHowk\Kernel\TestEventListener">
            <tag name="kernel.event_listener" event="kernel.test" method="onTestEvent"/>
        </service>

        <service id="kernel.app_kernel" class="%kernel.app_kernel.class%">
            <call method="setModuleResolver">
                <argument type="service" id="kernel.module_resolver" />
            </call>
        </service>

        <service id="kernel.module_resolver" class="\Oz\WhiteHowk\Kernel\ModuleResolver">
            <argument>%app.modules%</argument>
            <call method="setNamespaces">
                <argument>%app.modules%</argument>
            </call>
            <call method="setContainerProvider">
                <argument type="service" id="container_provider" />
            </call>
        </service>

    </services>
</container>