<div data-bind="foreach: errors">
    <alert params = "type: 'error', text: message"/>
</div>
<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="label" for="email">Email</label>
        <input type="email" name="email" id="email" data-bind="value: email" class="form-control"/>
    </div>
    <div class="form-group">
        <label class="label" for="password">Email</label>
        <input type="password" name="password" id="password" data-bind="value: password" class="form-control"/>
    </div>
    <div class="form-group">
        <input type="submit" data-bind="click: register" class="btn-lg" value="Register" />
    </div>
</form>